<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission (required for Firebase) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nexus"
        tools:targetApi="31">

        <!-- Launcher (Splash / Main) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Signup Screen -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <!-- Customize Feed Screen -->
        <activity
            android:name=".CustomizeFeedActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".PostDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Nexus" />

        <receiver
            android:name=".PostWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.nexus.UPDATE_WIDGET_MANUAL" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/post_widget_info" />
        </receiver>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>